@media screen and (min-width: 769px){

body {
    font-family: 'Yu gothic', Tahoma, Geneva, Verdana, sans-serif;
}

#logo {
    padding: 20px;
}

#header a {
    text-decoration: none;
    font-size: 15pt;
    padding: 10px;
    margin: 5px;
}

#header a li {
    color: #303030;
    list-style: none;
    border-left: solid 5px darkslategray;
    border-bottom: dotted 2px dimgray;
    padding: 10px;
}

#header a li:hover {
    border-color: lightsalmon;
    color: indianred;
}

#wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;
    text-indent: 50px;
}

#wrapper #field {
    padding: 15px;
}

footer {
    color:white;
    background-color: darkslategray;
    height: 250px;
}

#sitemap {
    padding: 30px;
}

#sitemap section {
    padding: 70px;
    display: inline;
}

address {
    text-decoration: none;
    text-align: center;
}

}

@media screen and (max-width: 768px){

#logo {
    padding: 10px;
}

#header a {
    text-decoration: none;
    font-size: 15pt;
    padding: 10px;
    margin: 5px;
}

#header a li {
    color: #303030;
    list-style: none;
    border-left: solid 5px darkslategray;
    border-bottom: dotted 2px dimgray;
    padding: 10px;
}

footer {
    height: 150px;
}

#sitemap {
    padding: 20px;
}

#sitemap section {
    padding: 30px;
    display: inline;
}

}

@media screen and (max-width: 640px){
    
#logo {
    padding: 10px;
}

#header a {
    text-decoration: none;
    font-size: 15pt;
    padding: 10px;
    margin: 5px;
}

#header a li {
    color: #303030;
    list-style: none;
    border-left: solid 5px darkslategray;
    border-bottom: dotted 2px dimgray;
    padding: 10px;
}

footer {
    height: 100px;
}

#sitemap {
    padding: 10px;
}

#sitemap section {
    padding: 20px;
    display: inline;
}

}